<nav class="navbar navbar-light bg-light">
  <%= link_to "Home",  root_path, class: "navbar-brand"%>
</nav>

<div id="typed-strings">
  <p>Welcome to <strong> Learn Shapes</strong> </p>
</div>
<div id="typed2-strings">
  <p>Here you will <em> see</em> the properties of basic shapes</p>
</div>

<div class="container">
  <span id="typed" class = "typed"></span>
  <br>
  <span id="typed2"></span>
</div>


<div class="container">
  <div class="cards">
  <% @shapes2ds.each_with_index do |shape2d, index| %>

    <div class="card-hello">
      <img src= <%= shape2d.description %> height="200px" width ="200px"/>
      <div class="card-hello-info">
        <h3><%=shape2d.name%></h3>
        <p><%=shape2d.formulas%></p>
        <p>sides: <%= shape2d.sides %></p>
        <p>vertices: <%= shape2d.vertices %></p>
        <p>edges: <%= shape2d.edges %></p>
        <p>angles: <%= shape2d.angles %></p>
        <%= link_to "Find out more and add to the community", shapes2d_path(shape2d.id) %>
      </div>
    <script>
      document.querySelector(".card-hello img")
        .addEventListener("click", (event) => {
          event.currentTarget.classList.toggle("tapped");
        });
    </script>
      </div>
  <% end %>
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
<script>
setTimeout(() => {  var typed = new Typed('#typed', {stringsElement: '#typed-strings',
backSpeed: 40,
typeSpeed: 40,
loopCount: 1,
showCursor: true,
cursorChar: "|"
});

var typed2 = new Typed('#typed2', {stringsElement: '#typed2-strings',
backSpeed: 40,
typeSpeed: 40,
loop: true
}); }, 10);





</script>
